In [1]:
import numpy as np

In [114]:
data=np.loadtxt("traindiabetes.csv",delimiter=',')

In [115]:
x=data[:,0:10]
y=data[:,10]

In [116]:
y.shape

(331,)

In [117]:
from sklearn import model_selection
x_train,x_test,y_train,y_test=model_selection.train_test_split(x,y)
x_train.shape

(248, 10)

In [118]:
from sklearn.linear_model import LinearRegression
alg1=LinearRegression()
alg1.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [119]:
pred=np.loadtxt(r"testdiabetes.csv",delimiter=",")

In [120]:
y_predicted=alg1.predict(pred)

In [95]:
import pandas as pd

In [122]:
df=pd.DataFrame(y_predicted)
df

              0
0    108.202493
1    105.670921
2    185.328692
3     77.652150
4     50.039814
5     94.092883
6    149.426559
7     32.566197
8    112.636474
9    163.941997
10   138.899031
11    94.628539
12   137.601773
13   140.353114
14   162.146683
15   173.332441
16   103.645445
17   101.774851
18    94.521628
19   168.144037
20   167.822784
21    98.268639
22   257.585934
23   147.961124
24   223.583312
25   157.782372
26   211.188831
27    76.703554
28   195.138817
29   216.139628
..          ...
81   120.064637
82   144.863738
83   209.011285
84   153.991849
85   148.580452
86   153.965495
87   120.663695
88   133.092503
89   118.949888
90   208.119410
91   175.425681
92   129.723329
93    56.720898
94   233.681514
95   187.329516
96   187.838004
97    80.772530
98   189.334168
99   229.032848
100  113.848042
101   78.295847
102  125.260472
103  248.936159
104  154.773821
105  126.591592
106  254.518422
107  235.905294
108  195.158351
109  168.792790
110  169.281051

[111 rows x 1 columns]

In [123]:
df.to_csv("solution.csv", header=None , index=False  , float_format = '%.5f')